@charset "utf-8";

#loading_text {
  display: none !important;
}

#nojs {
  color: #f00;
  text-align: center;
  font-size: var(--font-size);
  display: contents !important;
  font-family: var(--font-family);
  text-shadow: 1px 1px 1px #1c1c1c;
}