@charset "utf-8";
@import url("./font.css");
@import url("data:text/css;base64,QGNoYXJzZXQgInV0Zi04IjsKCiNub2pzIHsKICBkaXNwbGF5OiBub25lOwp9");

:root {
    --font-family: "Nunito", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-size: calc(12px + 1vw);
}

body#app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2c2c2c;
    color-scheme: #2c2c2c;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-family: var(--font-family);
    color: #fcfcfc;
}

#loading_text {
    font-size: var(--font-size);
    letter-spacing: normal;
    font-weight: 400;
}

#getTypeRival {
    position: fixed;
    background: #2c2c2c;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 13;
}

#title_g3 {
    color: #eee;
    margin: 25px auto calc(50px + 3vh);

    font-size: calc(12px + 5vw);
    font-weight: 600;
}

#g3_items {
    width: calc(100% - 90px);
    padding: 0 45px;
    min-height: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#g3_items input {
    display: none !important;
}

#g3_items label {
    background-color: #e2e2e2;
    color: #111;
    padding: 5px;

    --size-box: calc(120px + 8vw);

    min-width: 150px;
    width: var(--size-box);
    max-width: 255px;

    min-height: 150px;
    height: var(--size-box);
    max-height: 255px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 25px;

    cursor: pointer;
    font-size: calc(22px + 2vw);
    border-radius: 14pt;
    transition: all 280ms ease;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#g3_items label:hover {
    transform: translateY(-5%);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media screen and (max-width:632px) {
    #title_g3 {
        margin: 0 auto calc(32px + 2vh);
    }
}

#g3_items input:checked + label {
    color: #111;
    cursor: default;
    background-color: #fdfcfc;
    box-shadow: 5px 5px 15px rgba(45 45 45 / 60%), inset 0 0 2pt #07482af5;
}

.next-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: none;

    width: 80px;
    height: 50px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-size: 23px;
    color: #222;

    border-radius: 10px;
    background-color: #fff;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    box-shadow: 0 0 3pt #636363b5, inset 0 0 2pt #07482af5;
}

.next-btn:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    box-shadow: 0 0 5pt #636363b5, inset 0 0 2pt #07482af5;
}

#turn {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #eee;
    font-size: 28px;
    font-weight: bold;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 2px #999;
    filter: drop-shadow(-1px -1px 3px #000000);
    z-index: 1;
}

#turn > span {
    color: #f9f9f9;
    font-size: 26px;
}

#game-box {
    background-color: #1d1d1d;
    width: calc(200px + 32vw + 2vh);max-width: 680px;
    height: calc(200px + 32vw + 2vh);max-height: 680px;
    overflow: hidden;
    position: relative;
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    z-index: 2;
}

#game-box.loading::before {
    content: '';
    width: 100%;
    height: 100%;
    cursor: progress;
    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
}

#game-box input {
    background: #2c2c2c;
    color: #ececec;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 70px;
    font-family: "Averia Gruesa Libre", cursive;
    cursor: pointer;
}

#game-box input:hover {
    background: #272727;
}

#game-box input:active {
    background: #2c2c2c;
}

#game-box input:disabled:hover ,
#game-box input:disabled:active {
    background: #2c2c2c;
    cursor: default;
}

#alert {
    position: fixed;
    background: #1f1f1f4a;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#alert div:nth-child(1) {
    position: fixed;
    background: #202020;

    min-width: 280px;
    width: 70vw;
    max-width: 520px;

    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    overflow: hidden;

    border-width: 5px 0px;
    border-style: solid;
    
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

#alert.victory div:nth-child(1) {
    border-color: #84eeb9 !important;
}

#alert.equal div:nth-child(1) {
    border-color: #84e3ee !important;
}

#alert.lost div:nth-child(1) {
    border-color: #ff1500 !important;
}

#alert div:nth-child(1) h2 {
    color: #bdbdbd;
    font-size: calc(26px + 1vw + 1vh);
    margin: 32px auto 10px;
}

#alert div:nth-child(2) {
    padding: 0 45px;
    width: calc(100% - 90px);
    height: 150px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#alert div:nth-child(2) button {
    background-color: rgba(50, 50, 50, 0.05);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all .4s ease-in-out;
}

#alert div:nth-child(2) button:hover {
    background-color: rgba(255 255 255 / 7%);
    border: 1px solid rgba(0 0 0 / 2%);
    cursor: pointer;
}

#alert div:nth-child(2) button img {
    filter: drop-shadow(1px 1px #0f0f0f) ;
}

#alert div:nth-child(2) button:nth-child(1) img {
    width: 45px;
}

#alert div:nth-child(2) button:nth-child(2) img {
    width: 48px;
}

* {
    -webkit-user-drag: none;
    user-select: none;
    user-zoom: none;
    outline: none;
    border: none;
}

*::-webkit-scrollbar {
    display: none;
}